@import "../../main.scss";

.offer{
  width: 350px;
  height: 660px;
  border-radius: 10px;
  border: 2px solid $purple;

  .offer-title{
    font-size: 1.5em;
    // text-transform: uppercase;
    font-weight: 700;
  }

  .offer-text{

  }

  .offer-separator{
    height: 1px;
    width: 90%;
    background-color: rgba($white, .3);
  }

  .offer-price{
    font-weight: 700;
    font-size: 2.5em;

    .offer-ttc{
      text-transform: uppercase;
      font-weight: normal;
      font-size: 30%;
    }
    .offer-annual{
      font-size: 80%;
      font-weight: normal;
    }
  }

  .offer-more-button{
    max-width: 45px;
    cursor: pointer;
  }
}
