@import "../../main.scss";

#home{
  .home-content{
    height: 90vh;

    .title-container{
      padding-right: 10vw;
      .title{
        font-size: 2.5em;
        text-transform: uppercase;
      }

      .subtitle{
        line-height: 1.1em;
        font-size: 3.4em;
        font-weight: 700;
        text-transform: uppercase;
      }

      .catch-phrase{
        font-size: 2em;
      }
    }

    .cta{
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      color: $white;
      text-decoration: none;
      border: 1px solid $white;
      border-radius: 10px;
      padding: 10px;
      font-size: 1.2em;
      transition: .3s;

      &:hover{
        background-color: $white;
        color: $black;
      }
    }
  }

  .about{
    z-index: 1;

    .profile-picture-container{
      position: relative;

      .blob{
        position: absolute;
        max-width: 60%;
      }

      .profil-picture{
        border-radius: 50%;
        position: absolute;
        max-width: 50%;
      }
    }

    .trust-logo{
      max-width: 20vw;
      transition: .3s;
      filter: grayscale(1);

      &:hover{
        filter: grayscale(0);
      }
    }
  }

  .projects-container{
    overflow: auto;
    border-radius: 20px;

    /* width */
    &::-webkit-scrollbar {
      height: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: rgba($white, .2);
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $purple;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #888;
    }
  }

  #wave{
    transform: translate(-100%, -100%);
    z-index: -2;
    position: absolute;
    top: 0;
    transition: 1.5s;
  }
}
