@import "../../main.scss";

.project{
  margin-right: 8vw;

  img{
    max-width: 430px;
    border-radius: 20px;
  }

  .project-infos{
    width: 430px;
    height: 241.88px;
    margin-left: 60px;
    margin-top: -150px;
    background-color: #650de4;
    border-radius: 20px;

    .project-title{
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.5em;
    }
  }
}
