@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// COLORS
$purple: #9146FF;
$red: #da3b49;
$black: #121212;
$green: #1ead53;
$white: #FCFCFC;

// FONT SIZES
$title_size: 3em;
$subtitle_size: 1.8em;
$text_size: 1.2em;
$help_text_size: .9em;

*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
  color: $white;
}

body{
  background-color: $black !important;
  // background-image: url('./img/wave.svg');
  // background-repeat: no-repeat;
}

a, li a{
  text-decoration: none;
  color: $white;

  &:hover{
    color: $white;
  }
}

li{
  list-style-type: none;
}

#about, #services, #quote{
  padding-top: 15vh;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 90vh;
}

#projects{
  padding-top: 15vh;
  padding-left: 5vw;
  padding-right: 5vw;
  // height: 80vh;
  margin-bottom: 5vh;
}

.offers-container:first-child{
  margin-left: 0 !important;
}

.offers-container:last-child{
  margin-right: 0 !important;
}

.offers-disclaimer{
  color: rgba($white, .5)
}

.section-title{
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
}

.section-text{
  font-size: 1.5em;
}
